* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
body{
    font-size: 100%;
    background: #33312E;
}
.navbar{
    width: 100%;
    background-color: #BDBBB6;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
   list-style: none;
    display: flex;
}
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }
  .nav-item:hover {
    background-color:#f9a825;
  }
.nav-text{
    display: inline-block;
    padding: 8px;
    font-family: hack;
    font-size: 2rem;
    color: black; 
}
.nav-text:hover {
    background-color:#f9a825;
  }
img{
    width: 2rem;
}









.container {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  margin: auto;
  background-color: #f9a825;
  padding: 1.25rem;
  color: black;
  border-radius: 0.6rem;
}