* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: #33312E;
}

.navbar {
  width: 100%;
  background-color: #BDBBB6;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 1rem;
}

header img {
  width: 1.5rem;
}

.nav-item:hover {
  background-color: #f9a825;
}

.nav-text {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-family: hack;
  font-size: 1rem;
  color: black;
  border-radius: 1rem;
}

.nav-text:hover {
  background-color: #f9a825;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.4px solid #BDBBB6;
}

.content {
  margin-left: 2rem;
  margin-top: 1rem;
}

.content-text {
  max-width: 130rem;
  margin: auto;
  font-size: 4rem;
  color: #f9a825;
  padding: 1rem;
}

.content-img {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
}

.main-bbqmeterbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 130rem;
  width: 50rem;
  background-color: #f9a825;
  padding: 1.25rem;
  color: black;
  border-radius: 0.6rem;
}

.main-bbqmeterbox h1 {
  color: black;
  text-align: center;
  margin-bottom: 2rem;
}

.main-bbqmeterbox label {
  font-size: 1.5rem;
}

.main-bbqmeterbox input {
  width: 100%;
  height: 3rem;
  border: 0.1rem solid #e6e6f0;
  box-sizing: border-box;
  border-radius: 0.8rem;
  font-size: 1rem;
  text-align: center;
}

.main-bbqmeterbox button {

  width: 18.8rem;
  height: 5.7rem;
  background: #b47a1c;
  color: #fff;

  border: none;
  border-radius: 3.6rem;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;

  cursor: pointer;
  transition: background 0.2s;
}

.main-bbqmeterbox button:hover {
  background: #7c5412fb;
}

.result-box img {
  width: 2rem;
  margin: 0;
  margin-right: 0.2rem;
}

footer {
  max-width: 15rem;
  margin: auto;
  padding: 1rem;
}

footer a {
  color: #f9a825;
}